html, body {
    font-family: Tahoma;
}

.product-container {
    position: absolute;
    top:80px;
}

.cell img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.cell li {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}

.cell div {
    padding: 5px;
}

.button.add {
    position: relative;
    padding: 10px 20px;
    background-color: #3e7520;
    color: #fff;
    border: none;
    float: right;
    margin: 25px 20px 0px 0px;
}

.my-product-container {
    position: fixed;
    top:0px;
    left:0px;
    background-color: white;
    width: 100%;
    height:70px;
}

.cell.my-product li {
    width: 60px;
    height: 60px;
}