[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 { width: 25%; }
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    .col-1 {width: 50% !important;}
    .col-2 {width: 50% !important;}
    .col-3 {width: 50% !important;}
    .col-4 {width: 50% !important;}
    .col-5 {width: 50% !important;}
    .col-6 {width: 50% !important;}
    .col-7 {width: 50% !important;}
    .col-8 {width: 50% !important;}
    .col-9 {width: 50% !important;}
    .col-10 {width: 100% !important;}
    .col-11 {width: 100% !important;}
    .col-12 {width: 100% !important;}
}

@media only screen and (max-width: 320px) {
    .col-1 {width: 100% !important;}
    .col-2 {width: 100% !important;}
    .col-3 {width: 100% !important;}
    .col-4 {width: 100% !important;}
    .col-5 {width: 100% !important;}
    .col-6 {width: 100% !important;}
    .col-7 {width: 100% !important;}
    .col-8 {width: 100% !important;}
    .col-9 {width: 100% !important;}
    .col-10 {width: 100% !important;}
    .col-11 {width: 100% !important;}
    .col-12 {width: 100% !important;}
}

.show {
    /*visibility:show;*/
    display:block;
}

.hide {
    /*visibility:hidden;*/
    display:none;
}

.margin-t{
    margin-top: 20px !important;
}
